@model Project_Sauron.Models.User

@{
    ViewBag.Title = "PrivateOffice";
}

<h2>Личный кабинет</h2>

<div>
    <h3>@User.Identity.Name </h3>
    <hr />
    <dl class="dl-PrivateOffice">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPrivateOffice", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
