<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Проект "Саурон"</title>
    <link href="~/Content/Standart.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="SauronHeader">
        <div class="Sauroneader-links">
            @Html.ActionLink("Проект \"Саурон\"", "Index", "Home", null, new { @id = "HeadLink" })
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="UserLink">
                Здравствуйте,
                <a class="UserLinkMenu" href="javascript:void(0);" tabindex="1">@User.Identity.Name</a>
                <div class="UserSubmenu">
                    <div class="UserSubMenuBtn">@Html.ActionLink("Личный кабинет", "PrivateOffice", "Home")</div>

                    <div class="UserSubMenuBtn">
                        <a href="#2" class="main-item">подпункт 2</a>
                        <div class="sub-menu">
                            <div><a href="#1">подпункт 1</a></div>
                            <div><a href="#2">подпункт 2</a></div>
                            <div><a href="#3">подпункт 3</a></div>
                        </div>
                    </div>
                    <div class="UserSubMenuBtn">@Html.ActionLink("Выход", "Logout", "Account")</div>
                </div>
            </div>
        }
        else
        {
            <div class="Sauronheader-links">
                @Html.ActionLink("Регистрация", "Register", "Account")
            </div>

        }
    </div>



    <div class="SauronContainer">
        @RenderBody()
        <hr />
    </div>

    <div class="Sauronfooter">
        <p>&copy; @DateTime.Now.Year - Project "Sauron"</p>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>